@model List<string>
@{
    ViewData["Title"] = "DBmodel";
    
    
}



<div class="container">
    <div class="row">
       
            @foreach(var item in Model)
            {
            <div class="col-3" style="margin:10px;">
                <div class="card border border-dark" style="width: 18rem;">
                    <div class="card-body " style="display:flex!important;justify-content:center;align-items:center">
                        <h5 class="card-title">@item</h5>
                    </div>
                    
                    <div class="align-self-xxl-center" style="margin-bottom:10px;">
                        @{
                            string className = item.ToString();
                            Type classType=Type.GetType(className);
                            <a href="@Url.Action("Model1", "Home", new { item = classType })">Download file</a>

                        }
                    </div>
                    
                </div>
            </div>
            }
    </div>
</div>