<div class="container">
    <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
                <img src="https://scontent.fhan5-11.fna.fbcdn.net/v/t39.30808-6/336140633_1531499180681784_4369231510160906283_n.png?stp=dst-png_s600x600&_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_ohc=mv4taLdF9CoAX-ENGzq&_nc_ht=scontent.fhan5-11.fna&oh=00_AfBILQR62Zk2Od39ITduFBFGlOVH7Nn1as2WjO8htHbrBQ&oe=642289CD" alt="My Image" />
    </div>
    <div class="carousel-item">
                <img src="https://scontent.fhan5-11.fna.fbcdn.net/v/t39.30808-6/335330182_124593863761707_6712593069485693513_n.png?stp=dst-png_s600x600&_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_ohc=GlK3ugvnERQAX9Xmbl2&_nc_ht=scontent.fhan5-11.fna&oh=00_AfCO6fu6tf-pk4lvWZXa4LIuTAGAosJ14GZwwOp40ceeWQ&oe=6420F2F6" alt="My Image" />
    </div>
    <div class="carousel-item">
                <img src="https://scontent.fhan5-8.fna.fbcdn.net/v/t39.30808-6/335066882_1651296348636719_1963138409729511497_n.jpg?stp=dst-jpg_s600x600&_nc_cat=107&ccb=1-7&_nc_sid=730e14&_nc_ohc=kk6wsPJE0-gAX-xM-Jl&_nc_ht=scontent.fhan5-8.fna&oh=00_AfAOp6qWo4LNWE-fXpmzZ39VVDriDcjROyYcloRO9bZLJQ&oe=64218429" alt="My Image" />
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
 </div>
<hr class="container-fluid" />
<div >
    <div class="titlePromoTab">
        <h2 >
            <a class="tp_title" style="text-decoration:none;color:dimgray";> CHƯƠNG TRÌNH KHUYẾN MÃI</a>
        </h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-3"  >
            <div class="card" style="width: 18rem;">
                <img style="max-width:300px" src="https://scontent.fhan5-1.fna.fbcdn.net/v/t39.30808-6/337010779_610877380905683_1423990840921128200_n.png?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=j68lT1EMIkAAX97VWzx&_nc_ht=scontent.fhan5-1.fna&oh=00_AfBFoAKdnV307s1bQGpkkZQup3Om7dmnvEw1jC84MLsdDA&oe=6422F674" />
                <div class="card-body" style="display:flex!important;align-items:center;justify-content:center">
                    <h5 class="card-title">Bộ hè 2023</h5>
                 </div>
                <div style="display:flex!important;align-items:center;justify-content:center">
                    <p>Giá: 100.000 VND</p>
                </div>
                <a href="#" class="btn btn btn-danger">Đặt Mua</a>
            </div>
        </div>
         <div class="col-3"  >
            <div class="card" style="width: 18rem;">
                <img style="max-width:300px" src="https://scontent.fhan5-1.fna.fbcdn.net/v/t39.30808-6/337010779_610877380905683_1423990840921128200_n.png?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=j68lT1EMIkAAX97VWzx&_nc_ht=scontent.fhan5-1.fna&oh=00_AfBFoAKdnV307s1bQGpkkZQup3Om7dmnvEw1jC84MLsdDA&oe=6422F674" />
                <div class="card-body" style="display:flex!important;align-items:center;justify-content:center">
                    <h5 class="card-title">Bộ hè 2023</h5>
                 </div>
                <div style="display:flex!important;align-items:center;justify-content:center">
                    <p>Giá: 100.000 VND</p>
                </div>
                <a href="#" class="btn btn btn-danger">Đặt Mua</a>
            </div>
        </div>
         <div class="col-3"  >
            <div class="card" style="width: 18rem;">
                <img style="max-width:300px" src="https://scontent.fhan5-1.fna.fbcdn.net/v/t39.30808-6/337010779_610877380905683_1423990840921128200_n.png?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=j68lT1EMIkAAX97VWzx&_nc_ht=scontent.fhan5-1.fna&oh=00_AfBFoAKdnV307s1bQGpkkZQup3Om7dmnvEw1jC84MLsdDA&oe=6422F674" />
                <div class="card-body" style="display:flex!important;align-items:center;justify-content:center">
                    <h5 class="card-title">Bộ hè 2023</h5>
                 </div>
                <div style="display:flex!important;align-items:center;justify-content:center">
                    <p>Giá: 100.000 VND</p>
                </div>
                <a href="#" class="btn btn btn-danger">Đặt Mua</a>
            </div>
        </div>
         <div class="col-3"  >
            <div class="card" style="width: 18rem;">
                <img style="max-width:300px" src="https://scontent.fhan5-1.fna.fbcdn.net/v/t39.30808-6/337010779_610877380905683_1423990840921128200_n.png?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=j68lT1EMIkAAX97VWzx&_nc_ht=scontent.fhan5-1.fna&oh=00_AfBFoAKdnV307s1bQGpkkZQup3Om7dmnvEw1jC84MLsdDA&oe=6422F674" />
                <div class="card-body" style="display:flex!important;align-items:center;justify-content:center">
                    <h5 class="card-title">Bộ hè 2023</h5>
                 </div>
                <div style="display:flex!important;align-items:center;justify-content:center">
                    <p>Giá: 100.000 VND</p>
                </div>
                <a href="#" class="btn btn-danger">Đặt Mua</a>
            </div>
        </div>
    </div>
</div>
<div class="container" style=" margin-to:50px">
    <div class="row">
        <div class="col-md-8 mx-auto text-center" >
            <h1 class="display-4">Chào mừng đến với <img style="max-width:200px" src="https://scontent.fhan5-9.fna.fbcdn.net/v/t39.30808-6/337667331_733599338248434_7150107162400735635_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=UOJlrgdQFMIAX8cRzz_&_nc_ht=scontent.fhan5-9.fna&oh=00_AfAbWxv0HDv36CJfE97xqUcXURsPBUwffGsTc9yaq49t6A&oe=6423AC20" /></h1>
            <p class="lead">Chúng tôi là cửa hàng chuyên cung cấp các sản phẩm chất lượng cao với giá cả hợp lý.</p>
        </div>
        <img src="https://scontent.fhan5-8.fna.fbcdn.net/v/t39.30808-6/336182937_171641179007718_3382864677440143359_n.png?stp=dst-png_p843x403&_nc_cat=107&ccb=1-7&_nc_sid=730e14&_nc_ohc=ubqP9CGTqFIAX8AMlai&_nc_ht=scontent.fhan5-8.fna&oh=00_AfCYakg0YAr_IPdMcBy4miSGB1LMfrjFzgQqUL7vw9luHQ&oe=64220309" />
        <hr class="my-4">
        <div class="col-md-8 mx-auto text-center">
            <p>Với nhiều năm kinh nghiệm trong lĩnh vực kinh doanh, chúng tôi cam kết đem đến sự hài lòng cho khách hàng.</p>
        </div>
        
    </div>
</div>

