@model System.String
@using System;
@using System.Globalization;
@using System.Reflection;
@using ASS_MVC.Service;
@using ASS_MVC.Iservice;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    IProduct pro = new ProductService();
    Type type = typeof(IProduct);
    <h1>@type</h1>
    <H1>@Model</H1>
}