@model IEnumerable<ASS_MVC.Models.Product>

@{
    ViewData["Title"] = "ShowProducts";
}

<h1>ShowProducts</h1>


<div class="container">
    <div class="row">
        @{
            int a = 0;
        }
        <div class="col-lg-3 col-md-5">
            <div class="sidebar__item">
                <h4 style="list-style-type:none;margin:0;padding:0">Thể loại quần áo</h4>
                <ul>
                    <li style="list-style-type:none"><label><input type="checkbox" name="clothing" value="ao_khoac">Áo khoác</label></li>
                    <li style="list-style-type:none"><label><input type="checkbox" name="clothing" value="ao_thun">Áo thun</label></li>
                    <li style="list-style-type:none"><label><input type="checkbox" name="clothing" value="quan_kaki">Quần kaki</label></li>
                    <li style="list-style-type:none"><label><input type="checkbox" name="clothing" value="quan_jeans">Quần jeans</label></li>
                </ul>
                <h4 style="list-style-type:none;margin:0;padding:0">Kích cỡ</h4>
                  <ul>
                    <li style="list-style-type:none"><label><input type="checkbox" name="size" value="s">S</label></li>
                    <li style="list-style-type:none"><label><input type="checkbox" name="size" value="m">M</label></li>
                    <li style="list-style-type:none"><label><input type="checkbox" name="size" value="l">L</label></li>
                  </ul> 
            </div>
        </div>
    
        <div class="col-lg-9 col-md-7">
            <div class="row">
                @foreach (var item in Model)
                {


                    if (a % 3 == 0)
                    {
                        <br />
                        <hr style="margin-top:20px" />
                    }
                    <div class="col-lg-4 colcol-md-6 col-sm-6" style="margin-top:20px">
                        <div class="card" style="width: 18rem;">
                            <img style="max-width:300px" src="https://scontent.fhan5-1.fna.fbcdn.net/v/t39.30808-6/337010779_610877380905683_1423990840921128200_n.png?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=j68lT1EMIkAAX97VWzx&_nc_ht=scontent.fhan5-1.fna&oh=00_AfBFoAKdnV307s1bQGpkkZQup3Om7dmnvEw1jC84MLsdDA&oe=6422F674" />
                            <div class="card-body" style="display:flex!important;align-items:center;justify-content:center">
                                <h5 class="card-title">@item.Name</h5>
                            </div>
                            <div style="display:flex!important;align-items:center;justify-content:center">
                                <p>Giá: @item.Price</p>
                            </div>
                            <a href="@Url.Action("Detail","Home",new{id=item.Id})" class="btn btn btn-danger">Đặt Mua</a>
                        </div>
                    </div>
                    a++;
                }
            </div>
        </div>
           
        </div>
        
    </div>
</div>