@model IEnumerable<ASS_MVC.Models.Product>
@{
    ViewData["Title"] = "ShowProducts";

}

<h1>ShowProducts</h1>


<div class="container">
    <div class="row">
        @{
            int a = 0;
        }
        <div class="col-lg-3 col-md-5">
            <div class="sidebar__item">
                <h4 style="list-style-type:none;margin:0;padding:0">Thể loại quần áo</h4>
                <ul>
                    <li style="list-style-type:none"><label><input type="checkbox" name="clothing" value="ao_khoac">Áo khoác</label></li>
                    <li style="list-style-type:none"><label><input type="checkbox" name="clothing" value="ao_thun">Áo thun</label></li>
                    <li style="list-style-type:none"><label><input type="checkbox" name="clothing" value="quan_kaki">Quần kaki</label></li>
                    <li style="list-style-type:none"><label><input type="checkbox" name="clothing" value="quan_jeans">Quần jeans</label></li>
                </ul>
                <h4 style="list-style-type:none;margin:0;padding:0">Kích cỡ</h4>
                  <ul>
                    <li style="list-style-type:none"><label><input type="checkbox" name="size" value="s">S</label></li>
                    <li style="list-style-type:none"><label><input type="checkbox" name="size" value="m">M</label></li>
                    <li style="list-style-type:none"><label><input type="checkbox" name="size" value="l">L</label></li>
                  </ul> 
            </div>
        </div>
    
        <div class="col-lg-9 col-md-7">
            <div class="btn-group" role="group" aria-label="Basic example" style="margin-bottom: 15px;">
                <span style="margin-right: 25px;">Sắp xếp theo </span>
                <button type="button" class="btn ">Liên quan</button>
                <button type="button" class="btn ">Mới Nhất</button>
                <button type="button" class="btn " ng-click="sortOrder('gia')">Giá</button>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {

                    if (a % 3 == 0)
                    {
                        <br />
                        <hr style="margin-top:20px" />
                    }
                    <div class="col-lg-4 colcol-md-6 col-sm-6" style="margin-top:20px">
                        <div class="card" style="width: 18rem;">
                            <img style="max-width:300px"  src="~/images/@item.Description" />
                            <div class="card-body" style="display:flex!important;align-items:center;justify-content:center">
                                <h5 class="card-title">@item.Name</h5>
                            </div>
                            <div style="display:flex!important;align-items:center;justify-content:center">
                                <p>Giá: @item.Price</p>
                            </div>
                            <a href="@Url.Action("Detail","Home",new{id=item.Id})" class="btn btn btn-danger">Đặt Mua</a>
                        </div>
                    </div>
                    a++;
                }
            </div>
        </div>
           
        </div>
        
    </div>
</div>